name: Approve

on:
  workflow_dispatch:
    inputs:
      pr_link:
        type: string
        description: PR link
        required: true

jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
      - env:
          GITHUB_TOKEN: '${{ secrets.ACTIONS_GITHUB_TOKEN }}'
          GITHUB_PR_LINK: '${{ inputs.pr_link }}'
        run: |
          # for example https://github.com/plengauer/opentelemetry-github/pull/1156/files#diff-0c5b4b151b14df65357bebdc0437cbdaab5ec2f02b4818f23e241ed98f400421
          repository_owner="$(printf '%s' "$GITHUB_PR_LINK" | cut -sd / -f 4)"
          repository_name="$(printf '%s' "$GITHUB_PR_LINK" | cut -sd / -f 5)"
          pr_number="$(printf '%s' "$GITHUB_PR_LINK" | cut -sd / -f 7)"
          curl --no-progress-meter -H "Authorization: Bearer $GITHUB_TOKEN" "${GITHUB_API_URL:-https://api.github.com}"/repos/"$repository_owner"/"$repository_name"/pulls/"$pr_number"/reviews -d '{"event":"APPROVE"}'
