name: Onboard

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

concurrency:
  group: onboard

jobs:
  list-repositories:
    runs-on: ubuntu-latest
    outputs:
      repositories: ${{ steps.dynamic.outputs.repositories }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - run: |
          curl --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/user/repos'?per_page=100' | jq -r '.[].full_name' | jq -nR '{"include": [inputs | select(length > 0) | {repository: .}]}' | tr -d '\n' | xargs -0 -I {} echo 'repositories={}' >> "$GITHUB_OUTPUT"
        id: dynamic
    permissions:
      actions: read
  onboard:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./self
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          repository: ${{ matrix.repository }}
      - run: |
          find "$(pwd)"/self/automations/*/ | grep -vE '/$' | while read -r file; do
            new_file=./other/"${file#*/self/automations/*/}"
            if [ -d "$new_file" ]; then continue; fi
            [ -f "$new_file" ] || [ -f "${new_file//yaml/yml}" ] || (mkdir -p "${new_file%/*}" && cp "$file" "$new_file" && ( [ "${new_file##*.}" = yml ] || mv "$new_file" "${new_file%.yaml}".yml ) )
          done
      - uses: peter-evans/create-pull-request@v8
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          commit-message: "Onboard automations"
          branch: "automate-onboard"
          title: "Onboard automations"
          delete-branch: true
      - uses: peter-evans/enable-pull-request-automerge@v3
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash
    permissions:
      actions: read
