name: Onboard

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

env:
  GH_TOKEN_RETENTION: 90

concurrency:
  group: onboard

jobs:

  list-repositories:
    runs-on: ubuntu-slim
    outputs:
      repositories: ${{ steps.dynamic.outputs.repositories }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.0
      - run: |
          cat repositories.list | while read -r line; do echo "$line"; done | grep -v '#' | jq -R | jq '"plengauer/" + .' | jq -cs | xargs -0 -I {} echo 'repositories={}' >> "$GITHUB_OUTPUT"
        id: dynamic
    permissions:
      actions: read

  init-ruleset:
    needs: list-repositories
    runs-on: ubuntu-slim
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
    steps:
      - run: |
          gh_api() {
            curl -s --header "Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}" https://api.github.com/repos/${{ matrix.repository }}
          }
          [ "$(gh_api /rulesets | jq length)" != 0 ] || exit 0
          gh_api /rulesets -d @- << EOF
          {
            "name": "main",
            "enforcement": "active",
            "conditions": {
              "ref_name": {
                "include": [ "~DEFAULT_BRANCH" ],
                "exclude": []
              }
            },
            "rules": [
              { "type": "creation" },
              { "type": "deletion" },
              {
                "type": "pull_request",
                "parameters": {
                  "required_approving_review_count": 1,
                  "dismiss_stale_reviews_on_push": true,
                  "required_reviewers": [],
                  "require_code_owner_review": true,
                  "require_last_push_approval": true,
                  "required_review_thread_resolution": true,
                  "allowed_merge_methods": [ "squash" ]
              },
              {
                "type": "code_scanning",
                "parameters": {
                  "code_scanning_tools": [
                    {
                      "tool": "CodeQL",
                      "security_alerts_threshold": "high_or_higher",
                      "alerts_threshold": "errors"
                    }
                  ]
                }
              },
              {
                "type": "copilot_code_review",
                "parameters": {
                  "review_on_push": true,
                  "review_draft_pull_requests": false
                }
              }
            ]
          }
          EOF

  deploy-codeowners:
    needs: list-repositories
    runs-on: ubuntu-slim
    strategy:
      matrix: 
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ matrix.repository }}
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - run: |
          [ -r .github/CODEOWNERS ] || echo '* @${{ github.repository_owner }}' > .github/CODEOWNERS
      - uses: peter-evans/create-pull-request@v8.0.0
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          commit-message: "Onboard codeowners"
          branch: "automate-onboard-codeowners"
          title: "Onboard codeowners"
          delete-branch: true
      - run: sleep 60
      - uses: peter-evans/enable-pull-request-automerge@v3.0.0
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash

  list-actions:
    runs-on: ubuntu-slim
    outputs:
      actions: ${{ steps.dynamic.outputs.actions }}
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - run: |
          ls automations | grep -vE '/$' | jq -R | jq -cs | xargs -0 -I {} echo 'actions={}' >> "$GITHUB_OUTPUT"
        id: dynamic

  deploy-action:
    needs: [ list-repositories, list-actions ]
    runs-on: ubuntu-slim
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
        action: ${{ fromJSON(needs.list-actions.outputs.actions) }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./self
      - uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          repository: ${{ matrix.repository }}
      - run: |
          find "$(pwd)"/self/automations/${{ matrix.action }} | while read -r file; do
            if [ -d "$file" ]; then continue; fi
            new_file=./other/"${file#*/self/automations/${{ matrix.action }}/}"
            [ -f "$new_file" ] || [ -f "${new_file//yml/yaml}" ] || (mkdir -p "${new_file%/*}" && cp "$file" "$new_file")
          done
      - uses: peter-evans/create-pull-request@v8.0.0
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          commit-message: "Onboard action ${{ matrix.action }}"
          branch: "automate-onboard-action-${{ matrix.action }}"
          title: "Onboard action ${{ matrix.action }}"
          delete-branch: true
      - run: sleep 60
      - uses: peter-evans/enable-pull-request-automerge@v3.0.0
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash
    permissions:
      actions: read

  deploy-gh-token:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: true
      max-parallel: 1
    steps:
      - run: |
          repository="${{ matrix.repository }}"
          [ "${repository%%/*}" = plengauer ] # as long as one cannot create fine grained tokens for other repos, we should restrict for safety reasons
      - id: resolve
        run: |
          created_at="$(curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/ACTIONS_GITHUB_TOKEN | jq .created_at -r || echo 1970-01-01)"
          ( [ $(( $(date +%s) - $(date +%s -d "$created_at") )) -gt $((60 * 60 * 24 * ${{ env.GH_TOKEN_RETENTION }} * 95 / 100)) ] && echo true || echo false ) | xargs -0 -I '{}' echo rotate='{}' >> "$GITHUB_OUTPUT"
      - if: ${{ steps.resolve.outputs.rotate == 'true' }}
        id: puppeteer
        uses: plengauer/autopuppeteer@main # v0.0.0
        with:
          goal: 'create a new finegrained PAT with the predefined name, scopes and expiration date from the URL, restrict it to the repository ${{ matrix.repository }}, the result should be the token value itself, make sure to record it because it cant be queried later'
          url: https://github.com/settings/personal-access-tokens/new?name=GitHub%20Actions%20${{ matrix.repository }}%20${{ github.run_id }}%20${{ github.run_attempt }}&expires_in=${{ env.GH_TOKEN_RETENTION}}&contents=write&actions=write
          openai_api_token: ${{ secrets.OPENAI_TOKEN }}
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}
          cookie: ${{ secrets.GH_COOKIE }}
      - if:  ${{ steps.resolve.outputs.rotate == 'true' }}
        run: |
          [ -n '${{ steps.puppeteer.outputs.result }}' ]
          echo ::add-mask::${{ steps.puppeteer.outputs.result }}
          curl --no-progress-meter -H 'Authorization: Bearer ${{ steps.puppeteer.outputs.result }}' https://api.github.com/rate_limit
          GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set ACTIONS_GITHUB_TOKEN --repo ${{ matrix.repository }} <<< "${{ steps.puppeteer.outputs.result }}"
    permissions:
      actions: read

  deploy-dt-token:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
    steps:
      - run: |
          curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/OTEL_EXPORTER_OTLP_ENDPOINT && exit 0
          GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set OTEL_EXPORTER_OTLP_ENDPOINT --repo ${{ matrix.repository }} <<< "${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}"
      - run: |
          curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/OTEL_EXPORTER_OTLP_HEADERS && exit 0
          endpoint=${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          curl --fail --no-progress-meter -H 'Authorization: Api-token ${{ secrets.BOT_DT_TOKEN }}' -H 'Content-type: application/json' "${endpoint%%.com/*}".com/api/v2/apiTokens -d @- << EOF | jq .token -r | xargs -0 -I '{}' "authorization=Api-Token {}" | GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set OTEL_EXPORTER_OTLP_HEADERS --repo ${{ matrix.repository }}
          {
            "name": "${{ matrix.repository }} GitHub",
            "personalAccessToken": false,
            "scopes": [
              "logs.ingest",
              "metrics.ingest",
              "openTelemetryTrace.ingest"
            ]
          }
          EOF
