name: Onboard

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

concurrency:
  group: onboard

jobs:

  list-repositories:
    runs-on: ubuntu-latest
    outputs:
      repositories: ${{ steps.dynamic.outputs.repositories }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6
      - run: |
          cat repositories.list | jq -R | jq '"plengauer/" + .' | jq '{ repository: . }' | jq -cs '{ include: . }' | tr -d '\n' | xargs -0 -I {} echo 'repositories={}' >> "$GITHUB_OUTPUT"
        id: dynamic
    permissions:
      actions: read

  onboard:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./self
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          repository: ${{ matrix.repository }}
      - run: |
          find "$(pwd)"/self/automations/*/ | grep -vE '/$' | while read -r file; do
            new_file=./other/"${file#*/self/automations/*/}"
            if [ -d "$new_file" ]; then continue; fi
            [ -f "$new_file" ] || [ -f "${new_file//yml/yaml}" ] || (mkdir -p "${new_file%/*}" && cp "$file" "$new_file")
          done
      - uses: peter-evans/create-pull-request@v8
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          commit-message: "Onboard automations"
          branch: "automate-onboard"
          title: "Onboard automations"
          delete-branch: true
      - uses: peter-evans/enable-pull-request-automerge@v3
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash
    permissions:
      actions: read

  register-token:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}","${{ secrets.GH_COOKIE }}","${{ secrets.GH_PASSWORD }}","${{ secrets.GH_USERNAME }}","${{ secrets.OPENAI_TOKEN }}"]'
      - id: resolve
        run: |
          ( curl --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/ACTIONS_GITHUB_TOKEN > /dev/null && echo true || echo false ) | xargs -0 -I '{}' echo exists='{}' >> "$GITHUB_OUTPUT"
      - run: |
          repository="${{ matrix.repository }}"
          [ "${repository%%/*}" = plengauer ] # as long as one cannot create fine grained tokens for other repos, we should restrict for safety reasons
      - if: ${{ steps.resolve.outputs.exists == 'false' }}
        id: puppeteer
        uses: plengauer/autopuppeteer@v0.0.0
        with:
          goal: create a new classic pat with the scopes repo, workflow and no expiration date and call it ${{ matrix.repository }}, the result should be the token value itself, make sure to record it because it cant be queried later
          url: https://github.com/settings/tokens/new
          openai_api_token: ${{ secrets.OPENAI_TOKEN }}
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}
          cookie: ${{ secrets.GH_COOKIE }}
      - if:  ${{ steps.puppeteer.outputs.result != '' }}
        run: |
          echo ::add-mask::${{ steps.puppeteer.outputs.result }}
          curl --no-progress-meter -H 'Authorization: Bearer ${{ steps.puppeteer.outputs.result }}' https://api.github.com/rate_limit
          printf '%s' "${{ steps.puppeteer.outputs.result }}" | GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set ACTIONS_GITHUB_TOKEN --repo ${{ matrix.repository }}
    permissions:
      actions: read
