name: Onboard

on:
  push:
    branches:
      - main
    paths:
      - repositories.list
      - .github/workflows/onboard.yaml
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: onboard

jobs:

  list-repositories:
    runs-on: ubuntu-slim
    outputs:
      repositories: ${{ steps.dynamic.outputs.repositories }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.1
      - run: |
          cat repositories.list | while read -r line; do echo "$line"; done | grep -v '#' | sort -R | head -n 256 | jq -R | jq '"plengauer/" + .' | jq -cs | xargs -0 -I {} echo 'repositories={}' >> "$GITHUB_OUTPUT"
        id: dynamic
    permissions:
      actions: read
  init-settings:
    needs: list-repositories
    runs-on: ubuntu-slim
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6.0.1
      - run: |
          [ "$(curl -s --fail --header "Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}" https://api.github.com/repos/${{ matrix.repository }}/rulesets | jq length)" = 0 ] || exit 0
          curl -s --fail-with-body --header "Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}" https://api.github.com/repos/${{ matrix.repository }} -d @./template/settings.json -X PATCH
          curl -s --fail-with-body --header "Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}" https://api.github.com/repos/${{ matrix.repository }}/rulesets -d @./template/rulesets.json
    permissions:
      actions: read
  deploy-codeowners:
    needs: list-repositories
    runs-on: ubuntu-slim
    strategy:
      matrix: 
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6
        with:
          repository: ${{ matrix.repository }}
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - run: |
          [ -r .github/CODEOWNERS ] || ( mkdir -p .github && echo '* @${{ github.repository_owner }}' ) > .github/CODEOWNERS
      - uses: peter-evans/create-pull-request@v8.0.0
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          commit-message: "Onboard codeowners"
          branch: "automate-onboard-codeowners"
          title: "Onboard codeowners"
          delete-branch: true
      - run: sleep 60
        if: steps.open-pr.outputs.pull-request-number != null
      - uses: peter-evans/enable-pull-request-automerge@v3.0.0
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash
    permissions:
      actions: read
  list-actions:
    runs-on: ubuntu-slim
    outputs:
      actions: ${{ steps.dynamic.outputs.actions }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.1
      - run: |
          ls template | while read -r automation; do [ -d template/"$automation" ] && echo "$automation" || true; done | jq -R | jq -cs | xargs -0 -I {} echo 'actions={}' >> "$GITHUB_OUTPUT"
        id: dynamic
    permissions:
      actions: read
  deploy-action:
    needs: [ list-repositories, list-actions ]
    runs-on: ubuntu-slim
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
        action: ${{ fromJSON(needs.list-actions.outputs.actions) }}
      fail-fast: false
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}"]'
      - uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./self
      - uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          repository: ${{ matrix.repository }}
      - run: |
          find "$(pwd)"/self/template/${{ matrix.action }} | while read -r file; do
            if [ -d "$file" ]; then continue; fi
            new_file=./other/"${file#*/self/template/${{ matrix.action }}/}"
            [ -f "$new_file" ] || [ -f "${new_file//yml/yaml}" ] || (mkdir -p "${new_file%/*}" && cp "$file" "$new_file")
          done
      - uses: peter-evans/create-pull-request@v8.0.0
        id: open-pr
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          path: ./other
          commit-message: "Onboard action ${{ matrix.action }}"
          branch: "automate-onboard-action-${{ matrix.action }}"
          title: "Onboard action ${{ matrix.action }}"
          delete-branch: true
      - run: sleep 60
        if: steps.open-pr.outputs.pull-request-number != null
      - uses: peter-evans/enable-pull-request-automerge@v3.0.0
        if: steps.open-pr.outputs.pull-request-number != null
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          repository: ${{ matrix.repository }}
          pull-request-number: ${{ steps.open-pr.outputs.pull-request-number }}
          merge-method: squash
    permissions:
      actions: read
  deploy-gh-token:
    needs: list-repositories
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
      fail-fast: true
      max-parallel: 1 # 3
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_GITHUB_TOKEN }}","${{ secrets.GH_COOKIE }}","${{ secrets.GH_PASSWORD }}","${{ secrets.OPENAI_TOKEN }}"]'
      - run: |
          repository="${{ matrix.repository }}"
          [ "${repository%%/*}" = plengauer ] # as long as one cannot create fine grained tokens for other repos, we should restrict for safety reasons
      - uses: actions/checkout@v6.0.1
      - id: metadata
        run: |
          repository='${{ matrix.repository }}'
          token_name="GitHub Actions $(echo "${repository#*/} ${{ github.run_id }} ${{ github.run-attempt }}" | md5sum | cut -d - -f 1 | tr -d ' ')"
          token_name="${token_name:0:40}"
          token_name="${token_name// /%20}"
          echo token_name="$token_name" >> "$GITHUB_OUTPUT"
          jq < template/token_permissions.json 'to_entries | .[] | .key + "=" + .value' -r | perl -p -e 'chomp if eof' | tr '\n' ',' | xargs -I '{}' echo token_permissions='{}' >> "$GITHUB_OUTPUT"
          xargs < template/token_retention.days -I '{}' echo token_retention='{}' >> "$GITHUB_OUTPUT"
      - id: resolve
        run: |
          created_at="$( ( curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/ACTIONS_GITHUB_TOKEN || echo '{ "updated_at": "1970-01-01" }' ) | jq .updated_at -r)"
          ( [ $(( $(date +%s) - $(date +%s -d "$created_at") )) -gt $((60 * 60 * 24 * ${{ steps.metadata.outputs.token_retention }} * 95 / 100)) ] && echo true || echo false ) | xargs -0 -I '{}' echo rotate='{}' >> "$GITHUB_OUTPUT"
      - if: ${{ steps.resolve.outputs.rotate == 'true' }}
        id: create
        uses: plengauer/create-github-finegrained-pat@v0.0.8
        with:
          name: ${{ steps.metadata.outputs.token_name }}
          expiration: ${{ steps.metadata.outputs.token_retention }}
          repositories: ${{ matrix.repository }}
          permissions: ${{ steps.metadata.outputs.token_permissions }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PASSWORD }}
          cookie: ${{ secrets.GH_COOKIE }}
          openai_api_token: ${{ secrets.OPENAI_TOKEN }}
      - if:  ${{ success() && steps.resolve.outputs.rotate == 'true' }}
        run: |
          GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set ACTIONS_GITHUB_TOKEN --repo ${{ matrix.repository }} < "${{ steps.create.outputs.token_path }}"
    permissions:
      actions: read
  deploy-dt-token:
    needs: list-repositories
    runs-on: ubuntu-slim
    strategy:
      matrix:
        repository: ${{ fromJSON(needs.list-repositories.outputs.repositories) }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.BOT_DT_TOKEN }}","${{ secrets.BOT_GITHUB_TOKEN }}","${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}"]'
      - run: |
          curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/OTEL_EXPORTER_OTLP_ENDPOINT && exit 0
          GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set OTEL_EXPORTER_OTLP_ENDPOINT --repo ${{ matrix.repository }} <<< "${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}"
      - run: |
          curl --fail --no-progress-meter -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' https://api.github.com/repos/${{ matrix.repository }}/actions/secrets/OTEL_EXPORTER_OTLP_HEADERS && exit 0
          endpoint=${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          curl --fail --no-progress-meter -H 'Authorization: Api-Token ${{ secrets.BOT_DT_TOKEN }}' -H 'Content-type: application/json' "${endpoint%%.com/*}".com/api/v2/apiTokens -d @- << EOF | jq .token -r | xargs -0 -I '{}' "authorization=Api-Token {}" | GH_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }} gh secret set OTEL_EXPORTER_OTLP_HEADERS --repo ${{ matrix.repository }}
          {
            "name": "${{ matrix.repository }} GitHub",
            "personalAccessToken": false,
            "scopes": [
              "logs.ingest",
              "metrics.ingest",
              "openTelemetryTrace.ingest"
            ]
          }
          EOF
    permissions:
      actions: read
